@model dynamic
<div class="bs-example  ">
    <div class="row table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact Address <span>
                        <img class="star" src="~/Content/site/star.png"></span></th>
                    <th>Company<span><img class="star" src="~/Content/site/star.png"></span></th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.userList)
                {
                    <tr>
                        <td scope="row">
                            <label>@item.customUserId</label>
                        </td>
                        <td>
                            <label id="nameLabel_@item.userId">@(item.name ?? "Nil")</label>
                            <input id="name_@(item.userId)" type="text" class="hideElement" value="@item.name" />
                        </td>
                        <td>
                            <label id="@item.userId">@item.emailId</label>
                        </td>
                        <td>
                            <label id="addressLabel_@item.userId">@(item.address ?? "Nil")</label>
                            <input id="address_@(item.userId)" type="text" class="hideElement" value="@item.address" />

                        </td>
                        <td>
                            <label id="contactLabel_@item.userId">@(item.contact ?? "Nil")</label>
                            <input id="contact_@(item.userId)" type="text" class="hideElement" value="@item.contact" />
                        </td>
                        <td>
                            @{string src = string.Empty;}
                            @if (item.status)
                            {
                                src = "/Content/site/role-checked.png";
                            }
                            else
                            {
                                src = "/Content/site/role-unchecked.png";
                            }
                            <span style="margin-left: 10px" id="statusLabel_@(item.userId)" @if (item.status){<text> userstatus="true" </text>}else{<text> userstatus="false" </text>}>
                            <img  src=@src /></span>
                            <input id="status_@(item.userId)" type="checkbox" class="hideElement css-checkbox" userid="@item.userId" @if (item.status)
                                                                                                                         { <text> checked="checked" </text>  } style="display:none;">
                        </td>
                        @*<td>
                                <input id="checkboxid" type="checkbox" class="css-checkbox">
                            </td>*@
                        <td>
                            <span class="edit">
                                <a href="" id="editUser_@(item.userId)" class="editUser" userid="@item.userId">
                                    <img src="~/Content/site/edit.png">
                                </a>
                                <a href="" id="saveChanges_@(item.userId)" class="hideElement saveChanges" userid="@item.userId">
                                    <img src="~/Content/site/save.png">
                                </a>
                            </span>
                            <span class="cancel">
                                <a href="" id="cancelEdit_@(item.userId)" class="hideElement cancelEdit" userid="@item.userId">
                                    <img src="~/Content/site/delete.png">
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row edit-fields">
        <span>
            <img src="~/Content/site/star.png" alt="" />
        </span>
        <span>: Editable Fields</span>
    </div>

</div>
