@*@model IEnumerable<OneConnect.ViewModels.UserDetails>*@
@model dynamic
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="top-well">
    <div class="well"></div>
</section>
<div class="container">
    <section class="login-status">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-7">
                @if (!String.IsNullOrEmpty(Model.accountInfo.name))
                {
                    <p>Logged In As @Model.accountInfo.name </p>
                }
                
            </div>
            <div class="col-md-6 col-sm-6 col-xs-5 pull-right">
                <div class="logout-btn">
                    <a href="#" id="logOutBtn" class="btn btn-danger">
                        <img src="~/Content/site/logout.png" alt="">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="blue-line">
            <div class="blue-spacing"></div>
        </div>
    </section>


    <section class="dashboard">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h1>User Dashboard</h1>
            </div>
        </div>
    </section>
    <section class="settings">
        <div class="row">
            <div class="col-md-3 col-sm-4 ">
                <div class="thumbnail acs">
                    <a href="#" class="accountSetting"> <img class="accountSetting" src="~/Content/site/account-settings-hover.png" alt="..." /> </a>
                    <div class="caption">
                        <h3>Account Settings</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 ">
                <div class="thumbnail">
                    <a href="#" class="userSetting"><img class="userSetting" src="~/Content/site/user-settings.png" alt="..."></a>
                    <div class="caption">
                        <h3>User Settings</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 grp-setting-rht">
                <div class="thumbnail">
                    <a href="#" class="groupSetting"><img class="groupSetting" src="~/Content/site/group-settings.png" alt="..."></a>
                    <div class="caption">
                        <h3>Group Settings</h3>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="blue-line">
            <div class="blue-spacing"></div>
        </div>*@
    </section>
    <section id="accountSettings" class="account-settings">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <h3>ACCOUNT SETTINGS</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-1  col-md-offset-5   col-sm-offset-5 col-sm-6  col-xs-6 col-xs-offset-4">
                <div class="blue-line-short">
                    <div class="blue-spacing">	</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fugiat nulla ipsa quae ab illo</p>
            </div>
        </div>
        <div id="errDiv">

        </div>
        <div class="row">
            <div class="col-md-12">

                <!-- tabs left -->
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#a" data-toggle="tab">Account Info</a></li>
                        <li><a href="#b" data-toggle="tab">Edit Details</a></li>
                        <li><a href="#c" data-toggle="tab">Change Password</a></li>
                        <li><a href="#d" data-toggle="tab">Change Email</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active account-setting-form" id="a">
                            <div class="row">
                                <div class="bs-example col-md-7">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">User ID : </label>
                                            <div class="col-xs-8 col-md-9">
                                                <span><img src="~/Content/site/user-info.png" /></span>
                                                <label  class="control-label ">@Model.accountInfo.customUserId</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4  col-md-3  col-sm-3">Email :</label>
                                            <div class="col-xs-8 col-md-9  col-sm-9">
                                                <span><img src="~/Content/site/forgot-pasword-email.png" /></span>
                                                <label class="control-label ">@Model.accountInfo.email</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Name :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <span><img src="~/Content/site/card.png" /></span>
                                                <label class="control-label ">@(Model.accountInfo.name ?? "NA")</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Company :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9 ">
                                                <span><img src="~/Content/site/company.png" /></span>
                                                <label class="control-label ">@(Model.accountInfo.company ?? "NA")</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4 col-md-3 col-sm-3">Address :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <span><img src="~/Content/site/address.png" /></span>
                                                <label class="control-label ">@(Model.accountInfo.address ?? "NA")</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Contact :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <span><img src="~/Content/site/contact.png" /></span>
                                                <label class="control-label ">@(Model.accountInfo.contact ?? "NA")</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Active :</label>
                                            <div class="col-xs-2">
                                                @{string src=string.Empty;}
                                                @if (Model.accountInfo.status)
                                                {
                                                    src = "/Content/site/active.png";
                                                }
                                                else
                                                {
                                                    src = "/Content/site/deactive.png";
                                                }
                                                <span><img class="active-checkbox" src=@src /></span>
                                            </div>
                                        </div>

                                        @*<div class="form-group account-settings-btn">


                                            <div class="col-xs-12 col-sm-5 col-md-5">
                                                <a class="btn btn-danger">
                                                    <img src="~/Content/site/cancel.png" alt="">	Deactivate account
                                                </a>
                                            </div>
                                        </div>*@

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="b">
                            <div class="row">
                                <div class="bs-example col-md-7">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">User ID : </label>
                                            <div class="col-xs-8 col-md-9">
                                                <label  class="control-label ">@Model.accountInfo.customUserId</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4  col-md-3 col-sm-3">Email :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="email" class="form-control" placeholder="onekonnect@gmail.com" value="@Model.accountInfo.email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Name :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="text" class="form-control" placeholder="Name" value="@Model.accountInfo.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4 col-md-3 col-sm-3">Company :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="text" class="form-control" placeholder="Abc Corporation LTD" value="@Model.accountInfo.company">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Address :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="text" class="form-control"  placeholder="Full Address, Free Text" value="@Model.accountInfo.address">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Contact :</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="text" class="form-control" placeholder="Abc Corporation LTD" value="@Model.accountInfo.contact">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Active :</label>
                                            <div class="col-xs-2">
                                                <input id="checkboxAccountStatus" type="checkbox" class="checkboxid css-checkbox" userid="@Model.accountInfo.userId" @if (Model.accountInfo.status) { <text> checked="checked" </text>   }>
                                                @*<input type="checkbox" class="form-control edit-tick-mark"  >*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3"> </label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <img class="captcha" src="~/Content/site/captcha.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Code :</label>
                                            <div class="col-xs-5 col-md-5">
                                                <input type="text" class="form-control"  placeholder="Code">
                                            </div>
                                        </div>
                                        <div class="form-group account-settings-btn">

                                            <div class="col-xs-12 col-sm-5 col-md-5">
                                                <a class="btn btn-info">
                                                    <img src="~/Content/site/save.png" alt="">	Save Your Changes
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-5 col-md-5">
                                                <a class="btn btn-danger">
                                                    <img src="~/Content/site/cancel.png" alt="">	Cancel Changes
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="c">
                            <div class="row">
                                <div class="bs-example col-md-7">
                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Old:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="password" class="form-control"  placeholder="" id="oldPassword">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">New:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="password" class="form-control"  placeholder="" id="newPassword">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4 col-md-3 col-sm-3">Confirm:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="password" class="form-control" placeholder="" id="confirmPassword">
                                            </div>
                                        </div>

                                        <div class="form-group account-settings-btn">

                                            <div class="col-xs-12 col-sm-5 col-md-5">
                                                <a class="btn btn-info changePassword">
                                                    <img src="~/Content/site/save.png" alt="" class="changePassword">	Save Your Changes
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-5 col-md-5">
                                                <a class="btn btn-danger">
                                                    <img src="~/Content/site/cancel.png" alt="">	Cancel Changes
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="d">
                            <div class="row">
                                <div class="bs-example col-md-7">
                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label  class="control-label col-xs-4  col-md-3 col-sm-3">New Email:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="email" name="newEmailId" id="newEmailId" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-xs-4 col-md-3 col-sm-3">Password:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="password" class="form-control" name="currentUserPassword" id="currentUserPassword" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group account-settings-btn">

                                            <div class="col-xs-12 col-sm-5 col-md-5">
                                                <a class="btn btn-info changeEmail">
                                                    <img src="~/Content/site/save.png" alt="" class="changeEmail">	Save Your Changes
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-5 col-md-5">
                                                <a class="btn btn-danger">
                                                    <img src="~/Content/site/cancel.png" alt="">	Cancel Changes
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /tabs -->
            </div>
        </div><!-- /row -->
    </section>
    <section id="userSettings" class="account-settings hideElement">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <h3>USER SETTINGS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-5 col-sm-offset-5 col-sm-6 col-xs-6 col-xs-offset-4">
                <div class="blue-line-short">
                    <div class="blue-spacing"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fugiat nulla ipsa quae ab illo</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabs-left user-settings-tabs">
                    <ul id="userSettingsNav" class="nav nav-tabs">
                        <li class="active">
                            <a href="#aa" class="allUsers" data-toggle="tab">All Users</a>
                        </li>
                        <li>
                            <a href="#bb" data-toggle="tab">Add New User</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active account-setting-form" id="aa">
                            <div class="bs-example  ">
                                <div class="row table-responsive">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>User ID</th>
                                                @*<th>Username</th>*@
                                                <th>Email</th>
                                                @*<th>Contact Address <span><img class="star" src="~/Content/site/star.png"></span></th>
                                                <th>Company<span><img class="star" src="~/Content/site/star.png"></span></th>*@
                                                <th>Status</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.userList) 
                                            {
                                                <tr>
                                                    <td scope="row"><label>@item.customUserId</label></td>
                                                    @*<td>Username 01</td>*@
                                                    <td>
                                                        <label id="@item.userId">@item.emailId</label>
                                                        <input id="email_@(item.userId)" type="text" class="hideElement" value="@item.emailId"/>
                                                    </td>
                                                    @*<td>Full Address, 1270</td>
                                                    <td>onekonnect</td>*@
                                                    <td>
                                                        @*<span>
                                                            <img src="~/Content/site/status-uncheck.png">
                                                        </span>*@
                                                        <input id="checkboxid" type="checkbox" class="checkboxid css-checkbox" userid="@item.userId" @if (item.status) { <text> checked="checked" </text> }>
                                                    </td>
                                                    @*<td>
                                                        <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                    </td>*@
                                                    <td>
                                                        <span class="edit">
                                                            <a href="" id="editUser_@(item.userId)" class="editUser" userid="@item.userId"><img src="~/Content/site/edit.png"></a>
                                                            <a href="" id="saveChanges_@(item.userId)" class="hideElement saveChanges" userid="@item.userId"><img src="~/Content/site/save.png"></a>
                                                        </span>
                                                        <span class="delete">
                                                            <a href="##"><img src="~/Content/site/delete.png"></a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row edit-fields">
                                    <span> <img src="~/Content/site/star.png" alt="" /></span>
                                    <span>: Editable Fields</span>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="bb">
                            <div class="row">
                                <div class="bs-example col-md-7">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail" class="control-label col-xs-4 col-md-3 col-sm-3">User Email:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputConfirmEmail" class="control-label col-xs-4 col-md-3 col-sm-3">Confirm Email:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="email" class="form-control" id="inputConfirmEmail" placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="control-label col-xs-4 col-md-3 col-sm-3">Password:</label>
                                            <div class="col-xs-8 col-md-9 col-sm-9">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group account-settings-btn">
                                            <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
                                                <a class="btn btn-info addNewUser">
                                                    <img class="addNewUser" src="~/Content/site/save.png" alt="">Save Your Changes
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
                                                <a class="btn btn-danger" id="cancelAddUser">
                                                    <img src="~/Content/site/cancel.png" alt="">Cancel Changes
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="groupSettigs" class="account-settings hideElement">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <h3>GROUP SETTINGS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-5 col-sm-offset-5 col-sm-6 col-xs-6 col-xs-offset-4">
                <div class="blue-line-short">
                    <div class="blue-spacing"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fugiat nulla ipsa quae ab illo</p>
            </div>
        </div>
        <div class="row members-group">
            <div class="col-md-12">
                <div class="col-md-3 pull-left">
                    <h3 class="text-left">Members Groups</h3>
                    <div class="col-md-1 ">
                        <div class="blue-line-short">
                            <div class="blue-spacing"></div>
                        </div>
                    </div>
                </div>
                <div class="  pull-right">
                    <div class="form-group account-settings-btn">
                        <div class=" ">
                            <a class="btn btn-warning">
                                <img class="pluse" src="~/Content/site/minus.png" alt="">Hide Inactive Groups
                            </a>
                            <a class="btn btn-success">
                                <img class="minus" src="~/Content/site/pluse.png" alt="">Add New Group
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row member-group-settings">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="support" src="~/Content/site/support.png" alt="...">
                    <div class="caption">
                        <h4>Sample Group 1</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,</p>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Products :18</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit Group
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Users :37</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit User
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="support" src="~/Content/site/social-media.png" alt="...">
                    <div class="caption">
                        <h4>Sample Group 2</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,</p>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Products :25</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit Group
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Users :19</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit User
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="support" src="images/site/onekonnect.png" alt="...">
                    <div class="caption">
                        <h4>Sample Group 3</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,</p>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Products :41</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit Group
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Users :73</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit User
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="support" src="~/Content/site/inactive-group.png" alt="...">
                    <div class="caption">
                        <h4>Sample Group 1</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,</p>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Products :18</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit Group
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <h5>Users :37</h5>
                                <a href="#" class="btn btn-default grey" role="button">
                                    <img src="~/Content/site/setting.png" alt="" />
                                    Edit User
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@Html.Hidden("RedirectToHome", Url.Action("Index", "Home"));